.abt {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  top: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  .img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .abt-img {
      --border-angle: 0deg;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      img {
        height: 95%;
        width: 95%;
        border-radius: 50%;
        z-index: 2;
      }

      &::before {
        content: '';
        position: absolute;
        top: -15%;
        left: -15%;
        width: 130%;
        height: 130%;
        background-image: linear-gradient(180deg, #00246b, rgb(196, 189, 232), #6194fb);
        animation: rotate-border 3s linear infinite;
        transition: all 0.2s linear;
        border-radius: 50%;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 5px;
        background-color: black;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }

  .abt-text {
    width: 60%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .abt-data{
        width: 90%;
        height: 90%;
         h1 {
          font-size: 4vw;
        }

        p {
          font-size: 1.2vw;
          margin-top: 10px;
          line-height: 1.5;
        }
        .cards-abt{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
            margin-top: 150px;
            .card{
                height: 100px;
                width: 100px;
                background-color: white;
                border-radius: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                a{
                    font-size: 50px;
                    text-decoration: none;
                    color: #00246b;
                    margin: 0;
                    padding: 0;
                }
                
            }
        }
    }
  }
}

.night {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;

  .shooting_star {
    position: absolute;
    top: -10%;
    width: 2px;
    height: 100px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: move-vertical 4s linear infinite;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      height: 2px;
      background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
      transform: translateX(50%) rotateZ(45deg);
      border-radius: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      height: 2px;
      background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
      transform: translateX(50%) rotateZ(-45deg);
      border-radius: 100%;
    }
  }
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-vertical {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}
