.abt {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 0;

  .img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .abt-img {
      --border-angle: 0deg;
      height: 60%;
      width: 80%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      img {
        height: 95%;
        width: 95%;
        border-radius: 50%;
        z-index: 2;
      }

      &::before {
        content: '';
        position: absolute;
        top: -15%;
        left: -15%;
        width: 130%;
        height: 130%;
        background-image: linear-gradient(180deg, #00246b, rgb(196, 189, 232), #6194fb);
        animation: rotate-border 3s linear infinite;
        transition: all 0.2s linear;
        border-radius: 50%;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 5px;
        background-color: black;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }

  .abt-text {
    width: 60%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .abt-data {
      width: 90%;
      height: 90%;

      h1 {
        font-size: 4vw;
      }

      p {
        font-size: 1.2vw;
        margin-top: 10px;
        line-height: 1.5;
      }

      .cards-abt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 150px;
  z-index: 100;

  .card,
  .s_card {
    height: 100px;
    width: 100px;
    background: linear-gradient(135deg, #00246b, #6194fb);
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

    a {
      font-size: 50px;
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
    }

    
    &:hover {
      transform: scale(1.1) rotate(5deg);
      box-shadow: 0 0 20px rgba(97, 148, 251, 0.7),
                  0 0 40px rgba(0, 36, 107, 0.5);
      background: linear-gradient(135deg, #00246b, #6194fb);
    }

    &:hover a {
      color: white;
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

    }
  }
}

.night {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -3;

  .shooting_star {
    position: absolute;
    top: -10%;
    width: 2px;
    height: 100px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: move-vertical 4s linear infinite;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      height: 2px;
      background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
      transform: translateX(50%) rotateZ(45deg);
      border-radius: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      height: 2px;
      background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
      transform: translateX(50%) rotateZ(-45deg);
      border-radius: 100%;
    }
  }
}

.part2-abt {
  height: auto;
  width: 100%;
  z-index: 10;
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-vertical {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}


@media screen and (max-width: 1200px) {
  .abt {
    .img {
      width: 50%;
      .abt-img {
        height: 300px;
        width: 300px;
      }
    }
    .abt-text {
      width: 50%;
      .abt-data {
        h1 {
          font-size: 5vw;
        }
        p {
          font-size: 1.5vw;
        }
        .cards-abt {
          gap: 30px;
          margin-top: 100px;
          .s_card {
            height: 80px;
            width: 80px;
            a {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .abt {
    flex-direction: column;
    .img {
      width: 70%;
      .abt-img {
        height: 250px;
        width: 250px;
      }
    }
    .abt-text {
      width: 80%;
      .abt-data {
        h1 {
          font-size: 6vw;
        }
        p {
          font-size: 1.7vw;
        }
        .cards-abt {
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          margin-top: 50px;
          .s_card {
            height: 70px;
            width: 70px;
            a {
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .abt {
    .img {
      width: 100%;
      .abt-img {
        height: 200px;
        width: 200px;
      }
    }
    .abt-text {
      width: 100%;
      .abt-data {
        h1 {
          font-size: 7vw;
        }
        p {
          font-size: 2vw;
        }
        .cards-abt {
          gap: 15px;
          margin-top: 30px;
          .s_card {
            height: 60px;
            width: 60px;
            a {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .abt {
    .img {
      width: 100%;
      .abt-img {
        height: 250px;
        width: 250px;
      }
    }
    .abt-text {
      width: 100%;
      .abt-data {
        h1 {
          font-size: 8vw;
        }
        p {
          font-size: 2.5vw;
        }
        .cards-abt {
          gap: 10px;
          margin-top: 20px;
          .s_card {
            height: 50px;
            width: 50px;
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-height:1920px) {
  .abt {
    .img {
      width: 50%;
      .abt-img {
        height: 300px;
        width: 300px;
      }
    }
  }
}