.about-p{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .abt-body{

        height: 90%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d15802;
        
        .img{
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
            .img2{
                height: 90%;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                
                img{
                    width: 80%;
                    height: 80%;
                    border-radius: 30px;
                }
            }
        }
        .details{
            width: 55%;
        }
    }

}