.container {
  position: relative;
  margin-top: 92vh;

  .main {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .wrapper {
      max-width: 1200px;
      width: 100%;
      padding: 2rem;
      text-align: center;

      .carousel-mask {
        width: 100%;
        overflow: hidden;
        mask-image: linear-gradient(
          to right,
          transparent 0,
          black 100px,
          black calc(100% - 100px),
          transparent 100%
        );

        .carousel {
          display: flex;
          gap: 40px;
          animation: scroll-loop 25s linear infinite;
          width: max-content;

          li {
            list-style: none;

            img {
              width: 100px;
              height: 100px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive scaling */
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 90vh;
    .carousel li img {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 90vh;
    .carousel li img {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 90vh;
    .carousel li img {
      width: 50px;
      height: 50px;
    }
  }
}
