.certificates {
    height: 100vh;
    width: 80%;
  margin-inline: auto;
  color: #111;
  font-family: "Lato", sans-serif;

  h2 {
    text-transform: capitalize;
    color: white;
    letter-spacing: 0.025em;
    text-align: center;
    font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
  }

  .container {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

    .card {
        
      .card-inner {
        position: relative;
        width: inherit;
        height: 18.75rem;
        background: var(--clr);
        border-radius: 1.25rem;
        border-bottom-right-radius: 0;
        overflow: hidden;

        .box {
          width: 100%;
          height: 100%;
          background: transparent;
          border-radius: 1.25rem;
          overflow: hidden;

          .imgBox {
            position: absolute;
            inset: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .icon {
            position: absolute;
            bottom: -0.375rem;
            right: -0.375rem;
            width: 6rem;
            height: 6rem;
            background: var(--clr);
            border-top-left-radius: 50%;

            &:hover .iconBox {
              transform: scale(1.1);
            }

            &::before {
              position: absolute;
              content: "";
              bottom: 0.375rem;
              left: -1.25rem;
              background: transparent;
              width: 1.25rem;
              height: 1.25rem;
              border-bottom-right-radius: 1.25rem;
              box-shadow: 0.313rem 0.313rem 0 0.313rem #190a2c;
            }

            &::after {
              position: absolute;
              content: "";
              top: -1.25rem;
              right: 0.375rem;
              background: transparent;
              width: 1.25rem;
              height: 1.25rem;
              border-bottom-right-radius: 1.25rem;
              box-shadow: 0.313rem 0.313rem 0 0.313rem var(--clr);
            }

            .iconBox {
              position: absolute;
              inset: 0.625rem;
              background: white;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s;

            }
            a {
              color: #190a2c;
              font-size: 2.4rem;
              
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
