$bg-light: #e5e5e5;
$bg-dark: #ffffff;
$text-light: #cccccc;
$text-white: #ffffff;
$shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

.specialize {
  color: $text-light;
  // animation: changecolor both;
  // animation-timeline: view();
  // animation-range: entry 40% cover 40%;

  .carousel-section {
    position: relative;
    display: flex;
    flex-direction: column;

    
  }

  .carousel-container {
    position: sticky;
    top: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 30vh;

    .spacer {
      flex: 0 0 auto;
      position: sticky;
      top: 15%;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
          color: white;
          font-size: 5vw;
        }
      }
    }
  }

  .carousel-track {
    display: flex;
    width: 100%;
    will-change: transform;
    gap: 50px;
    height: 100vh;
    margin-top: 24vh;
  }

  .card {
    position: relative;
    height: 450px; 
    width: 500px;
    max-width: 500px; 
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    border-left: 8px solid #5500ab;
    box-shadow: 0 0 10px 0px black;
    
    &:hover {
      box-shadow: 0 0 20px 5px white;
      transform: translateY(-5px);
    }

    .card-image {
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center;
      transition: transform 0.4s ease;
    }

    .card-content {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3rem;

      

      .icon{
        font-size: 10vw;
        color: #2e0854;
      }
      .title{
        font-size: 2.1vw;
        color: black;
      }
    }
  }
}

@media (max-width: 768px) {
  .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;

        .carousel-track{

          .card{
            height: 400px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }


            
            .card-content{
              .icon{
                font-size: 20vw;
              }
              .title{
                font-size: 4vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;
        .spacer{

          .header{

            h3{
              font-size: 7vw;
            }
          }
        }

        .carousel-track{

          .card{
            height: 350px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }


            
            .card-content{
              .icon{
                font-size: 20vw;
              }
              .title{
                font-size: 8vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) {
  .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;

        .carousel-track{

          .card{
            height: 370px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }


            
            .card-content{
              .icon{
                font-size: 10vw;
              }
              .title{
                font-size: 2.5vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:1024px) {
  .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;
        .spacer{

          .header{

            h3{
              font-size: 7vw;
            }
          }
        }

        .carousel-track{

          .card{
            height: 360px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }


            
            .card-content{
              .icon{
                font-size: 6vw;
              }
              .title{
                font-size: 2vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:321px){
    .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;

        .carousel-track{

          .card{
            height: 300px;
            width: 350px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }

            
              .card-content{
                .icon{
                  font-size: 20vw;
                }
              }
            
          }
        }
      }
    }
  }
}
@media (min-width:2000px) and (max-width:2560px) {
  .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;

        .carousel-track{

          .card{
            height: 650px;
            width: 700px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }
      
            .card-content{
              .icon{
                font-size: 5vw;
              }
              .title{
                font-size: 2vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:1240px) and (max-width:1999px) {
  .specialize{

    .carousel-section{

      .carousel-container{
        margin-top: 10vh;

        .carousel-track{

          .card{
            height: 370px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.286);
              transform: translateY(-5px);
            }
      
            .card-content{
              .icon{
                font-size: 8vw;
              }
              .title{
                font-size: 2.5vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}