.consult {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  

  .formsec {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;



    .consultform {
      width: 50%;
      height: 80%;
      border-radius: 30px;
      color: white;
      background-color: #21063b8a;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
        justify-content: center;

        input,
        textarea {
          width: 80%;
          padding: 12px;
          border: none;
          border-radius: 8px;
          background-color: #000;
          color: #fff;
          font-size: 1rem;
          outline: none;
        }

        textarea {
          resize: vertical;
          max-height: 200px;
        }

        button {
          padding: 12px;
          border: none;
          border-radius: 8px;
          background-color: #5a14a0;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 85%;
        }

        button:hover {
          background-color: #2e0854;
        }
      }

      .submitted-message {
        text-align: center;

        h2 {
          color: #eddcff;
          margin-bottom: 10px;
        }

        p {
          color: #ccc;
        }
      }
    }

    .consultdet {
      width: 50%;
      height: 80%;
      background-color: #21063b8a;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ccc;
      padding: 20px;
      border-radius: 30px;
      text-align: center;
      flex-direction: column;
      gap: 50px;

      .socialico {
        width: 80%;
        align-items: center;
        height: 20%;
        display: flex;
        gap: 20px;

        .icons {
          height: 100%;
          width: 30%;
          background-color: #2e0854;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          span {
            height: 100%;
            width: 100%;
            font-size: 4vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
        }
      }

      .logo-c {
        height: 15%;
        width: 80%;

        .img {
          height: 100%;
          width: 25%;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .aboutme {
        height: 40%;
        width: 80%;
        text-align: justify;
        font-size: 0.9rem;
      }
    }
  }
}
.field-error {
  color: #ff6b6b;
  font-size: 0.85rem;
  margin-top: -8px;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: left;
}

.error {
  color: #ff4d4d;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.submitted-message {
  text-align: center;
  color: #fdf0d5;
  h2 {
    margin-bottom: 10px;
  }
}

.footer-c{
  position: absolute;
  margin-top: 92vh;
}


@media screen and (max-width: 992px) {
  .consult{

    .formsec{

      .consultform{
        height: 50%;
      }
      .consultdet{
        gap: 15px;
        height: 50%;
        .logo-c{
          width: 100%;
          height: 10%;
        }
        .socialico{
          height: 15%;
          width: 100%;
        }
        .aboutme{
          height: 50%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .consult{
    height: auto;
    padding-top: 15vh;
    .formsec{
      flex-direction: column-reverse;

      .consultform{
        width: 90%;
        height: 80%;

      }
      .consultdet{
        width: 90%;
        height: 80%;

        
        .logo-c{
          height: 5%;
        }
        .socialico{
          height: 30%;
          width: 50%;
  

          .icons{
            justify-content: space-evenly;
            span{
              font-size: 4vw;
              padding: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .consult{
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }
}
@media (min-width:1440px) and (max-width:2561px){
  .consult{
    .formsec{
      .consultform{
        width: 40%;
        h1{
          font-size: 3vw;
        }
        input{
          height: 40%;
        }
        textarea{
          height: 50%;
        }
      }
      .consultdet{
        width: 40%;

        .logo-c{
          .img{
            img{
              height: 85%;
              width: 85%;
            }
          }
        }
        .socialico{
          .icons{
            height: 80%;
            width: 20%;
            span{
              font-size: 2vw;
            }
          }
        }
        .aboutme{
          font-size: 1.1vw;
        }
      }
    }
  }
}