.consult {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  

  .formsec {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;



    .consultform {
      width: 50%;
      height: 80%;
      border-radius: 30px;
      color: white;
      background-color: #1b2735;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
        justify-content: center;

        input,
        textarea {
          width: 80%;
          padding: 12px;
          border: none;
          border-radius: 8px;
          background-color: #000;
          color: #fff;
          font-size: 1rem;
          outline: none;
        }

        textarea {
          resize: vertical;
          max-height: 200px;
        }

        button {
          padding: 12px;
          border: none;
          border-radius: 8px;
          background-color: blue;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 85%;
        }

        button:hover {
          background-color: darkblue;
        }
      }

      .submitted-message {
        text-align: center;

        h2 {
          color: blue;
          margin-bottom: 10px;
        }

        p {
          color: #ccc;
        }
      }
    }

    .consultdet {
      width: 50%;
      height: 80%;
      background-color: #1b2735;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ccc;
      padding: 20px;
      border-radius: 30px;
      text-align: center;
      flex-direction: column;
      gap: 50px;

      .socialico {
        width: 80%;
        align-items: center;
        justify-content: center;
        height: 20%;
        display: flex;
        gap: 20px;

        .icons {
          height: 100%;
          width: 30%;
          background-color: #00246b;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          span {
            height: 100%;
            width: 100%;
            font-size: 4vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
        }
      }

      .logo-c {
        height: 15%;
        width: 80%;

        .img {
          height: 100%;
          width: 25%;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .aboutme {
        height: 40%;
        width: 80%;
        text-align: justify;
        font-size: 0.9rem;
      }
    }
  }
}
.footer-c{
  position: absolute;
  margin-top: 92vh;
}

@media screen and (max-width: 1200px) {
  .abt {
    .img {
      width: 50%;
      .abt-img {
        height: 300px;
        width: 300px;
      }
    }
    .abt-text {
      width: 50%;
      .abt-data {
        h1 {
          font-size: 5vw;
        }
        p {
          font-size: 1.5vw;
        }
        .cards-abt {
          gap: 30px;
          margin-top: 100px;
          .card {
            height: 80px;
            width: 80px;
            a {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .abt {
    flex-direction: column;
    .img {
      width: 70%;
      .abt-img {
        height: 250px;
        width: 250px;
      }
    }
    .abt-text {
      width: 80%;
      .abt-data {
        h1 {
          font-size: 6vw;
        }
        p {
          font-size: 1.7vw;
        }
        .cards-abt {
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          margin-top: 50px;
          .card {
            height: 70px;
            width: 70px;
            a {
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .consult{
    height: auto;
    padding-top: 15vh;
    .formsec{
      flex-direction: column-reverse;

      .consultform{
        width: 90%;
        height: 80%;

      }
      .consultdet{
        width: 90%;
        height: 80%;

        .socialico{
          height: 40%;

          .icons{

            span{
              font-size: 8vw;
              padding: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .consult{
    height: 100vh;
    padding-top: 15vh;
    .formsec{
      flex-direction: column-reverse;

      .consultform{
        width: 85%;
        height: 80%;

      }
      .consultdet{
        width: 85%;
        height: 70%;
        gap: 15px;
        .logo-c{
          width: 95%;
        }

        .socialico{
          height: 40%;
          

          .icons{

            span{
              font-size: 5vw;
              padding: 15px;
            }
          }
        }
        .aboutme{
          width: 95%;
        }
      }
    }
  }
  .footer-c{
    margin-top: 117vh;
  }
}
