.duration{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; 
    
    .section{
        height: 100%;
        width: 90%;
        margin-top: 30vh;

        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            gap: 40px;

            .card{
                height: 28vh;
                width: 30vh;
                box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.288);
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: white;
                animation: lefttoright both;
                animation-timeline: view(50% 20%);

                @keyframes lefttoright {
                    from{
                        opacity: 0;
                        transform: translateX(-100px);
                    }
                    to{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                
                

                .d-icon{
                    font-size: 5vw;
                    margin: 0;
                    color: #d15802;

                }
                p{
                    margin: 0;
                    font-size: 1vw;
                }
                h3{
                    font-size: 1.2vw;
                    margin: 0;
                    color: #d15802;
                }

                
            }
           
        }
    }
}