
/* static stars */
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.stars::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  box-shadow: 
    50px 100px white,
    150px 200px white,
    250px 300px white,
    350px 150px white,
    450px 400px white,
    550px 250px white,
    650px 350px white,
    750px 50px white,
    850px 180px white,
    950px 280px white;
  animation: twinkle 5s linear infinite;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.2; }
}

/* vertical shooting stars */
.shooting-stars {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.shooting-stars::before,
.shooting-stars::after {
  content: '';
  position: absolute;
  top: -50px; 
  left: 20%;
  width: 2px;
  height: 80px; 
  background: linear-gradient(to bottom, white, transparent);
  animation: fall 2s linear infinite;
  opacity: 0.8;
}

.shooting-stars::after {
  left: 70%;
  animation-delay: 1s;
}

/* falling animation */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh); /* move down to bottom */
    opacity: 0;
  }
}

.thumb {
  display: flex;
  height:  92vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  padding-top: 8vh;
  width: 100%;
  z-index: 0;
  align-items: center;
  justify-content: center;
  
  .thumb-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    padding: 0 10vh;

    .name{
        font-size: 1vw;
        color: #5224a7;
    }
    .title{
        font-size: 2vw;
        color: White;
    }
    .para{
        font-size: 1.2vw;
        width: 60%;
        color: white;
    }

    .consultbtn{
        margin-top: 2vh;

        button{
            font-size: 1.2vw;
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
            text-align: left;
            font-weight: 700;

            a{
                text-decoration: none;
                color: white;
            }

            
        }
    }



  }

  .thumb-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    

    .thumb-img{
        height: 100%;
        width: 80%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            
        }
    }
  }
}

@media screen and (max-width: 1490px) {
  .thumb {
    .thumb-content {
      width: 40%;
      padding: 0 5vh;

      .name {
        font-size: 1.2vw;
      }
      .title {
        font-size: 1.8vw;
      }
      .para {
        font-size: 1.4vw;
        width: 70%;
      }
      .consultbtn {
        button {
          font-size: 2vw;
        }
      }
    }

    .thumb-image {
      width: 40%;

      .thumb-img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1240px) {
  .thumb {
    .thumb-content {
      width: 30%;
      padding: 0 5vh;
      .name {
        font-size: 1vw;
      }
      .title {
        font-size: 1.4vw;
      }
      .para {
        font-size: 1.3vw;
        width: 80%;
      }
      .consultbtn {
        button {
          font-size: 2vw;
        }
      }
    }

    .thumb-image {
      width: 60%;

      .thumb-img {
        width: 100%;
      }
    }
  }
    
}

@media screen and (max-width: 768px) {
  .thumb {
    flex-direction: column;
    height: auto;


    .thumb-content {
      width: 80%;
      height: auto;
      align-items: center;
      text-align: center;

      .name {
        font-size: 2vw;
      }
      .title {
        font-size: 3vw;
      }
      .para {
        font-size: 2.5vw;
        width: 100%;
      }
      .consultbtn {
        button {
          font-size: 3vw;
        }
      }
    }

    .thumb-image {
        height: 50%;
        width: 100%;

        .thumb-img {
            width: 80%;
            height: 70%;
            margin-top: 2vh;
            border-radius: 50%;
        }
    }
  }
    
}