$bg-light: #e5e5e5;
$bg-dark: #ffffff;
$text-light: #cccccc;
$text-white: #ffffff;
$shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

.project {
  // background: radial-gradient(circle at center, #2e0854 0%, #1a0b2e 50%, #000000 100%);
  color: $text-light;

  .carousel-section-p {
    position: relative;
    display: flex;
    flex-direction: column;

    
  }

  .carousel-container-p {
    position: sticky;
    top: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 30vh;

    .spacer {
      flex: 0 0 auto;
      position: sticky;
      top: 15%;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          color: white;
          font-size: 5vw;
          padding: 6px;
          margin: 0;
        }

        h3 {
          color: #f9f1ff;
          font-size: 2vw;
        }
      }
    }
  }

  .carousel-track-p {
    display: flex;
    width: 100%;
    will-change: transform;
    gap: 50px;
    height: 100vh;
    margin-top: 24vh;
  }

  .card-p {
    position: relative;
    height: 450px; 
    width: 500px;
    max-width: 500px; 
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    border-left: 8px solid #5500ab;
    box-shadow: 0 0 10px 0px black;
    
    &:hover {
      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.286);
      transform: translateY(-5px);
    }

    .card-image-p {
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center;
      transition: transform 0.4s ease;
    }

    .card-content-p {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3rem;

      .hoverc{
        position: absolute;
        top:0px;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        opacity: 0;

        button{
          padding:10px 20px;
          border:none;
          border-radius:8px;
          background-color:#5a14a0;
          color:white;
          font-size:1.2vw;
          cursor:pointer;
          transition:background-color 0.3s ease;

          a{
            text-decoration:none;
            color:white;
          }

          &:hover{
            background-color:#2e0854;
          }
        }
      }

      .number {
        height: 12%;
        width: 100%;

        .circle {
          width: 11%;
          font-size: 1.5vw;
          height: 100%;
          align-self: flex-start;
          background-color: #2e0854;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }

      .head-p {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 2.1vw;
        color: black;
      }

      .cont-p {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        justify-content: flex-start;
        flex-direction: column;

        li {
          list-style: none;
          display: flex;
          gap: 10px;
          color: rgb(61, 61, 61);
          font-size: 1.5vw;
        }
      }

      &:hover{
        .hoverc{
          opacity:1;
          transition:opacity 0.3s ease;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .project{

    .carousel-section-p{

      .carousel-container-p{
        margin-top: 10vh;

        .carousel-track-p{

          .card-p{
            height: 370px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px #00246B85;
              transform: translateY(-5px);
            }


            
            .card-content-p{
              .number{
                height: 15%;
                .circle{
                  width:15%;
                  font-size: 3vw;
                }
              }
            }
            .head-p{
              font-size: 3vw;
            }
            .cont-p{

              li{
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .project{

    .carousel-section-p{

      .carousel-container-p{
        margin-top: 10vh;

        .spacer{
          .header{
            
            h1{
              font-size: 5.5vw;
            }
            h3{
              font-size: 4vw;
            }
          }
        }

        .carousel-track-p{

          .card-p{
            height: 350px;
            width: 400px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px #00246B85;
              transform: translateY(-5px);
            }


            
            .card-content-p{
              .hoverc{
                button{
                  height: 3rem;
                  width: 7rem;
                  font-size: 0.7rem;
                }
              }
              .number{
                height: 18%;
                .circle{
                  width:15%;
                  font-size: 4vw;
                }
              }
            }
            .head-p{
              font-size: 6vw;
            }
            .cont-p{

              li{
                font-size: 3.5vw;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width:320px) {
    .project{

    .carousel-section-p{

      .carousel-container-p{
        margin-top: 10vh;

        .spacer{
          .header{
            
            h1{
              font-size: 5.5vw;
            }
            h3{
              font-size: 4vw;
            }
          }
        }

        .carousel-track-p{

          .card-p{
            height: 300px;
            width: 450px;
            max-width: 95%;

            &:hover {
              box-shadow: 0 0 10px 5px #00246B85;
              transform: translateY(-5px);
            }


            
            .card-content-p{
              .hoverc{
                button{
                  height: 3rem;
                  width: 7rem;
                  font-size: 0.7rem;
                }
              }
              .number{
                height: 19%;
                .circle{
                  width:18%;
                  font-size: 6vw;
                }
              }
            }
            .head-p{
              font-size: 5vw;
              font-weight: 700;
            }
            .cont-p{

              li{
                font-size: 3.3vw;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:768px) and (max-width: 1024px) {
  .project{

    .carousel-section-p{

      .carousel-container-p{
        margin-top: 20vh;

        .carousel-track-p{

          .card-p{
            height: 370px; 
            width: 400px;
            max-width: 450px; 

            .card-content-p{
              .number{
                height: 15%;
                .circle{
                  width:12%;
                  font-size: 2.5vw;
                }
              }
            }
            .head-p{
              font-size: 2.5vw;
            }
            .cont-p{

              li{
                font-size: 1.8vw;
              }
            }
          }
        }
      }
    }
  }

}
@media (min-width:1025px) and (max-width: 1999px) {
  .project{

    .carousel-section-p{

      .carousel-container-p{
        margin-top: 20vh;

        .carousel-track-p{

          .card-p{
            height: 390px; 
            width: 400px;
            max-width: 480px; 

            .card-content-p{
              .number{
                height: 15%;
                .circle{
                  width:13%;
                  font-size: 2vw;
                }
              }
            }
            .head-p{
              font-size: 1.7vw;
            }
            .cont-p{

              li{
                font-size: 1vw;
              }
            }
          }
        }
      }
    }
  }

}
@media (min-width:2000px) and (max-width: 2560px) {
  .project{

    .carousel-section-p{

      .carousel-container-p{
        margin-top: 20vh;

        .carousel-track-p{

          .card-p{
            height: 600px; 
            width: 800px;
            max-width: 500px; 

            .card-content-p{
              .number{
                height: 15%;
                .circle{
                  width:17%;
                  font-size: 1.8vw;
                }
              }
            }
            .head-p{
              font-size: 1.5vw;
            }
            .cont-p{

              li{
                font-size: 1vw;
              }
            }
          }
        }
      }
    }
  }

}