.enroll_p{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .enroll-container{
        height: 80%;
        width: 50%;
      background-color: #3b076b8a;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5%;
      border-radius: 20px;

      .heading-e{
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        // background-color: red;

        .enroll-title{
            font-size: 2rem;
            // background-color: red;
        }
        p{
            // background-color: red;
        }
      }
      form{
        height: 80%;
        display: flex;
        flex-direction: column;

        .form-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10%;
            margin-top: 2vh;

            label{
                font-size: 1.1rem;
            }
            input{
                height: 70%;
                border: none;
                padding: 5px 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                color: #2e0854;
            }
            
        }
        button{
            border: none;
            width: 100%;
            height: 2.3rem;
            border-radius: 5px;
            align-self: center;
        }
    }
    button{
        border: none;
        width: 100%;
        height: 2.3rem;
        border-radius: 5px;
        align-self: center;
        margin-bottom: 2vh;
        cursor: pointer;
    }
    }
}

