.navbar {
  height: 8vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  mix-blend-mode: difference;
  // -webkit-backdrop-filter: blur(10px);
  // backdrop-filter: blur(10px);
  .img {
    height: 60px;
    width: 60px;
    mix-blend-mode: difference;
    margin-left: 40px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .hamburger {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-right: 40px;
    z-index: 10;

    .line {
      height: 2px;
      width: 100%;
      background-color: white;
      transition: all 0.3s ease;
      mix-blend-mode: difference;
    }

    .line1.open {
      transform: rotate(45deg) translate(3px, 3px);
    }

    .line2.open {
      transform: rotate(-45deg) translate(3px, -3px);
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: radial-gradient(circle at center, #2e0854 0%, #1a0b2e 50%, #10031f 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .menu-content {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      margin-bottom: 20px;
      font-size: 5rem;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;

      a {
        margin: 15px 0;
        font-size: 3rem;
        cursor: pointer;
        transition: color 0.2s ease;
        text-decoration: none;
        color: white;

        &:hover {
          color: #140324;
        }

        Link{
          text-decoration: none;
        }
      }
    }
  }
}
