*{
  font-family:'sans serif';
}
.content{
  position: relative;
  z-index: 990;
  margin-top: 100vh;
  background: radial-gradient(circle at center, #2e0854 0%, #1a0b2e 50%, #000000 100%);
  border-radius: 20px 20px 0 0;
}
