*{
  font-family:'sans serif';
  // background: radial-gradient(circle at center, #2e0854 10%, #1a0b2ea2 100%, #10031f 100%);
  
}

.content{
  position: relative;
  z-index: 990;
  margin-top: 100vh;
  // background: radial-gradient(circle at center, #2e0854 0%, #1a0b2e 50%, #000000 100%);
  // background: radial-gradient(circle at center, #2e0854 10%, #1a0b2ea2 100%, #10031f 100%);
  
  border-radius: 50px 50px 0 0;
}
