@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
body{
  font-family: 'syne';
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, p, button, a, span{
  font-family: 'syne';
}