.project-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10vh;
  z-index: 10;

  h1{
    font-size: 3rem;
    text-align: center;
    color: white;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./png/project-bg.png');
    background-size: contain;
    background-position: center;
    opacity: 0.05;
    z-index: -1;
  }

  .project-cont {
    margin-top: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 1000px);
    height: 600px;
    background: #003049;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    overflow: hidden;

    .slide {
      position: relative;
      height: 100%;
      width: 100%;

      .item {
        width: 200px;
        height: 300px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
        background-size: cover;
        background-position: center;
        display: inline-block;
        transition: all 0.5s ease;
        overflow: hidden;
        border: 1px solid #003049;

        .content {
          position: absolute;
          bottom: 70px;
          left: 50px;
          width: 45%;
          height: 75%;
          color: #fdf0d5;
          font-family: 'Poppins', sans-serif;
          display: none;
          z-index: 1;
          border-radius: 20px;
          padding: 10px;
          opacity: 0.7;

          .name {
            font-size: 1.7rem;
            text-align: center;
            font-weight: 700;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
            margin-bottom: 10px;
            opacity: 0;
            animation: fadeInUp 1s ease-in-out forwards;
          }

          .des {
            margin-top: 2rem;
            strong{
              font-size: 1rem;
            }
            font-size: 0.9rem;
            line-height: 1.4;
            opacity: 0;
            animation: fadeInUp 1s ease-in-out 0.3s forwards;
          }

          
        }
      }

      .item:nth-child(2) .content {
        display: block;
      }

      .item:nth-child(1),
      .item:nth-child(2) {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        border-radius: 40px;
      }

      .item:nth-child(3) {
        left: 55%;
      }

      .item:nth-child(4) {
        left: calc(55% + 220px);
      }

      .item:nth-child(5) {
        left: calc(55% + 440px);
      }

      .item:nth-child(n + 6) {
        left: calc(55% + 660px);
        opacity: 0;
      }
    }

    .button {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 25px;

      button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        margin: 0 8px;
        font-size: 28px;
        background: transparent;
        color: #011745;
        transition: transform 0.3s ease, color 0.3s ease;
      }

      button:hover {
        transform: scale(1.2);
        color: #fff;
      }
    }
  }
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@media (max-width:620px) {
  .project-container{

    .project-cont{

      height: 400px;
      border-radius: 5px;

      .slide{
        border-radius: 5px;
        .item{
          border-radius: 5px;


          .content{
            border-radius: 5px;
            width: 90%;
            height: 90%;
            bottom: 3%;
            left: 2%;

            .name{
              font-size: 1.3rem;
            }
            .des{
              strong{
                font-size: 0.8rem;
              }
              font-size: 0.6rem;
              
            }
          }
        }

        .item:nth-child(1),.item:nth-child(3),
      .item:nth-child(4), .item:nth-child(5),
      .item:nth-child(6){
        display: none;

      }
      .item:nth-child(2){
        border-radius: 5px;
      }

      }
    }
  }
}

@media (max-width:769px){
  .project-container{

    .project-cont{

      height: 400px;

      .slide{
        .item{


          .content{
            left: 5%;
            height: 80%;
            bottom: 30px;

            .name{
              font-size: 1.3rem;
            }
            .des{
              strong{
                font-size: 0.8rem;
              }
              font-size: 0.6rem;
              
            }
          }
        }
     

      }
    }
  }
}